!!!
%html
  %head
    %title AngularTraining
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{name: :current_user, content: current_user.to_json}

  %body
    .navbar.navbar-inverse
      .navbar-inner
        = link_to "Angular Training", "#", class: "brand"

    .container
      = yield

